@model AddPost.Models.Post
@using AddPost.Models;
@{
    ViewBag.Title = "EditPost";
}

    <h1 class="text-center">Редактирование поста</h1>
<hr />
<div class="container">
    <form class="form-horizontal  col-md-12 " name="EditPost" method="post" enctype="multipart/form-data">
        <div class="form-group  ">
            <label for="NamePost" class="col-sm-2 control-label">Название</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="NamePost" name="NamePost" required value="@Model.NamePost" />
            </div>
            </div>
        <div class="form-group">
            <label for="Category" class="col-sm-2 control-label">Категория</label>
            <div class="col-md-10">
                <select class="form-control" name="selectedCategory">
                    @foreach (string element in Post.Category)
                    {
                        <option>@element</option>
                    }
                </select>

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-md-12">
                <textarea class="form-control col-lg-50" cols="150" rows="25" id="contentPost" name="contentPost" required >@Model.contentPost </textarea>
            </div>
        </div>
        <hr />
        <div class="form-group col-xs-12 ">
            <label for="Tags" class="col-sm-2 control-label">Тэги</label>
            <div class="col-xs-10">
                <textarea cols="150" rows="3" class="form-control" id="Tags" name="Tags" placeholder="Введите тэги через запятую" required >@Model.Tags</textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="dateAddPost" class="col-sm-2 control-label">Дата создания</label>
            <div class="col-md-2">
                <input type="date" class="form-control"name="dateAddPost" id="dateAddPost" value="@Model.dateAddPost" />
            </div>
            <label for="File" class="col-sm-2 control-label">Прикрепить файл</label>
            <div class="col-xs-4">
                <input type="file" class="form-control " name="upload" id="upload" />
            </div>
            <input type="submit" class="btn btn-defaultt" name="save" />
        </div>
</form>
</div>

