@model IEnumerable<AddPost.Models.Post>
@{
    ViewBag.Title = "Главная";
}

<h3 align="center">Посты</h3>
<div class="container">


      

        <div class="col-md-12">

            @foreach (var item in Model)
            {
                <div class="col-md-12 panel panel-info">
                    <div class="panel-heading">
                        <h1 class="panel-title" align="center">
                            @Html.DisplayFor(modelItem => item.NamePost)
                        </h1>
                    </div>
                
                    <div class="panel-heading">
                        <h3 class="panel-title" align="center">
                            
                            Категория: @Html.DisplayFor(modelItem => item.selectedCategory)
                        </h3>
                        </div>
                    <br />
                        <div align="center">
                            <img src="~/img/@item.upload" alt="хех" class="img-thumbnail">
                        </div>
                    <br />
                   <div class="contentPost">
                       <a href="#">
                           <div class="panel-body">
                               <p>

                                   @Html.DisplayFor(modelItem => item.contentPost)

                               </p>

                           </div>
                       </a>
                    </div>
                    <p class="panel-body" align="center">
                        <a href="#"> Читать  далее</a>
                    </p>
                       
                        <div class="panel-footer" align="center">
                            <p>
                                @Html.DisplayFor(modelItem => item.dateAddPost)
                            </p>
                            <div class="help-block">
                                <p>
                                    @Html.DisplayFor(modelItem => item.Tags)
                                </p>
                            </div>
                        </div>

                    </div>
            }
        </div>

    
</div>
