@model AddPost.Models.Post
@{
    ViewBag.Title = "Post";
}


<div class="container">
                <div class="col-md-12 panel panel-info">
                    <div class="panel-heading col-md-12">
                        <h1 class="panel-title" align="center">
                            @Model.NamePost
                        </h1>
                    </div>
                
                    <div class="panel-heading">
                        <h3 class="panel-title" align="center">
                            
                            Категория: @Model.selectedCategory
                        </h3>
                        </div>
                    <br />
                        <div align="center">@if (Model.upload.Count != 0)
                        {
                            <img src="~/img/@Model.PostID/@Model.upload[0]" alt="@Model.NamePost" title="@Model.NamePost" width="65%" class="img-thumbnail">}
                        </div>
                    <br />
                   <div class="contentPostReady">
                      
                           <div class="panel-body">
                               <p>

                                   @Model.contentPost

                               </p>
                            @for (int i = 0; i < Model.upload.Count; i++)
                            {

                                if (i != 0)
                                {
                                   <hr />
                                    <div align="center">
                                        <img src="~/img/@Model.PostID/@Model.upload[i]" alt="@Model.NamePost" title="@Model.NamePost" width="40%" class="img-thumbnail">
                                    </div>
                                }
                            }
                               <hr />
                           </div>
                      
                    </div>
                   
                    <div class="postFoter">
                        <div class="panel-footer" align="center">
                            <p>
                                @Model.dateAddPost
                            </p>
                            <div class="help-block">
                                <p>
                                   @foreach (var tags in Model.CollectionTags)
                                   {
                                    <a class="btn btn-default btn-sm" href="@Url.Action("Tag","Home", new { tags = tags })">
                                        @tags
                                    </a>
                                   }
                                </p>
                            </div>

                        </div>
                    </div>
                    </div>     
</div>


