@model Post
@using PostModel.Models;
@{
    ViewBag.Title = "Post";
}


<div class="container">
                <div class="col-md-12 panel panel-info">
                    <div class="panel-heading col-md-12">
                        <h1 class="panel-title" align="center">
                            @Model.NamePost
                        </h1>
                    </div>
                
                    <div class="panel-heading">
                        <h3 class="panel-title" align="center">
                            
                            Категория: @Model.selectedCategory
                        </h3>
                        </div>
                    <br />
                        <div align="center">
                        
                            <img src="~/img/@Model.PostID/@Model.upload" alt="@Model.NamePost" title="@Model.NamePost" width="65%" class="img-thumbnail">
                        </div>
                    <br />
                   <div class="contentPostReady">
                      
                           <div class="panel-body">
                               <p>

                                   @Model.contentPost

                               </p>
                         
                             
                           </div>
                      
                    </div>
                   
                    <div class="postFoter">
                        <div class="panel-footer" align="center">
                            <p>
                                @Model.dateAddPost
                            </p>
                            <div class="help-block">
                                <p>
                                   @foreach (var tags in PostDataStorage.collectionsTags)
                                   {
                                    <a class="btn btn-default btn-sm" href="@Url.Action("Tag","Home", new { tags = tags })">
                                        @tags
                                    </a>
                                   }
                                </p>
                            </div>

                        </div>
                    </div>
                    </div>     
</div>


