@model IEnumerable<AddPost.Models.Post>
@{
    ViewBag.Title = "Post";
}

@foreach (var item in Model) { 
<div class="container">
    <div class="col-md-12 panel panel-info">
        <div class="panel-heading col-md-12">
            <h1 class="panel-title" align="center">
                @item.NamePost
            </h1>
        </div>

        <div class="panel-heading">
            <h3 class="panel-title" align="center">

                Категория: @item.selectedCategory
            </h3>
        </div>
        <br />
        <div align="center">
            @if (item.upload != null)
        {
            <img src="~/img/@item.PostID/@item.upload" alt="@item.NamePost" title="@item.NamePost" width="65%" class="img-thumbnail">}
    </div>
    <br />
    <div class="contentPostReady">

        <div class="panel-body">
            <p>

                @item.contentPost

            </p>

        </div>

    </div>

    <div class="postFoter">
        <div class="panel-footer" align="center">
            <p>
                @item.dateAddPost
            </p>
            <div class="help-block">
                <p>
                   
                </p>
            </div>

        </div>
    </div>
</div>
</div>
}