@model IEnumerable<Post>
@using PostModel.Models;
@{
    ViewBag.Title = "Post";
}

@foreach (var item in Model) { 
<div class="container">
    <div class="col-md-12 panel panel-info">
        <div class="panel-heading col-md-12">
            <h1 class="panel-title" align="center">
                <a href="post/@item.PostID" title="Полная сататья"> @item.NamePost</a>
            </h1>
        </div>

        <div class="panel-heading">
            <h3 class="panel-title" align="center">

                Категория: @item.selectedCategory
            </h3>
        </div>
        <br />
        <div align="center">
          
            <img src="~/img/@item.PostID/@item]" alt="@item.NamePost" title="@item.NamePost" width="65%" class="img-thumbnail">
    </div
    <br />
    <div class="contentPostReady">

        <div class="panel-body">
            <p>

                @item.contentPost

            </p>

        </div>

    </div>
        <p class="panel-body" align="center">
            <a href="post/@item.PostID" title="Полная сататья"> Читать  далее</a>
        </p>

    <div class="postFoter">
        <div class="panel-footer" align="center">
            <p>
                @item.dateAddPost
            </p>
            <div class="help-block">
                <p>
                    @foreach (var tags in item.CollectionTags)
                    {
                        <a class="btn btn-default btn-sm" href="@Url.Action("Tag","Home", new { tags = tags })">
                            @tags
                        </a>
                    }
                </p>
            </div>



        </div>
    </div>
</div>
</div>
}